@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to your virtual wardrobe!</h1>
    <p>Step into your virtual closet, where style meets simplicity.<a href="https://learn.microsoft.com/aspnet/core">Learn more</a> or start creating! <br/>
        Join the outfitty mafia 😎</p>
    @* Here I want the button (create new outfit) *@
    
    <h2>Your previous outfits</h2>
    @* Here is gonna be the slider of previous outfits. The person can slide his outfits left and right. Its like a carousel. *@
</div>